
<div class="pgbg">
  <div class="team-wrapper">
    <div class="col-xs-12 text-center">
      <h1>Our Team</h1>
      <p>Here at Course Hub, We pride ourselves with bring your the best courses to grow your skills. No matter if your a beginner or seasoned pro brushing up on the lastest trends and technologies. At Course Hub, Learning has never been so easy.</p>
      <hr class="ourteamhr">
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 card-wrapper member-4">
      <div id="card">
        <div id="avatar"></div>
        <div id="profile">
          <h1>Matt Taylor</h1>
          <h3>Software Engineer</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 card-wrapper member-1">
      <div id="card">
        <div id="avatar"></div>
        <div id="profile">
          <h1>Sam Kim</h1>
          <h3>Senior Developer</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 card-wrapper member-2">
      <div id="card">
        <div id="avatar"></div>
        <div id="profile">
          <h1>Karen Smith</h1>
          <h3>Course Manager</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 card-wrapper member-3">
      <div id="card">
        <div id="avatar"></div>
        <div id="profile">
          <h1>Arnav Halder</h1>
          <h3>Business Manager</h3>
        </div>
      </div>
    </div>
  </div>
</div>
